@model IEnumerable<TrainingSystem.Models.LopHoc>

@{
    ViewBag.Title = "XemLopHoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xem danh sách học viên trong khóa học</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaHV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenHV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaHV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenHV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diem)
        </td>
        <td>
            @if (item.TrangThai==1)
            {
                @*@Html.DisplayFor(modelItem => "Pass")*@
                <p>Pass</p>
            }
            else
            {
                @*@Html.DisplayFor(modelItem => "Failed")*@
                <p>Failed</p>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaKH }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaKH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaKH })
        </td>
    </tr>
}

</table>
